.container_registro_reciclaje{
    margin: 0 auto;  
    align-items: center; 
    width: 80%;
}

.Titulo_Registrar_Reciclaje{
    font-family: "Bebas Neue", sans-serif !important;
    font-size: 100px;

}


